<!doctype html>
<html>
  <head>
    <%= partial 'head' %>
  </head>
  <body>
    <%= partial 'header' %>
    <div class="container">
      <main>
        <%= partial 'site_title' %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 blog__article">
            <article>
              <header class="blog__article__header">
                <small class="blog__article__header__date"><%= current_article.date.strftime('%b %e, %Y') %></small>
                <h2 class="blog__article__header__heading"><%= current_article.title %></h2>
                <span class="blog__article__subheading"><%= current_article.data.subtitle %></span>
                <p class="blog__article__intro"><%= current_article.data.intro %></p>
              </header>
              <%= yield %>
            </article>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'krisquigleycouk';
                
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
          </div>
        </div>
      </main>
      <%= partial "footer" %>
    </div>
  </body>
</html>