<!doctype html>
<html>
  <head>
    <%= partial 'head' %>
  </head>
  <body>
    <%= partial 'header' %>
    <div class="container">
      <main>
        <div class="row">
          <div class="col-xs-12 site">
            <h1 class="site__heading">Kris Quigley</h1>
            <hr class="site__rule">
          </div>
        </div>
        <div class="row">
          <%= partial 'aside' %>
          <%= yield %>
        </div>
      </main>
      <%= partial "footer" %>
    </div>
  </body>
</html>