<!doctype html>
<html>
  <head>
    <%= partial 'head' %>
  </head>
  <body>
    <%= partial 'header' %>
    <div class="container">
      <main>
        <%= partial 'site_title' %>
        <div class="row">
          <%= partial 'aside' %>
          <%= yield %>
        </div>
      </main>
      <%= partial "footer" %>
    </div>
  </body>
</html>